# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# =========================
# Xcode
# =========================
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# =========================
# Swift Package Manager (SPM)
# =========================
.build/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# =========================
# CocoaPods (jeśli kiedyś dodasz)
# =========================
Pods/
# Zazwyczaj Podfile.lock dodaje się do repozytorium, ale same paczki ignoruje

# =========================
# Bezpieczeństwo / Sekrety (BARDZO WAŻNE)
# =========================
# Ignorujemy wszystkie pliki konfiguracyjne z IP, hasłami i kluczami
*.xcconfig
Secrets.xcconfig

# =========================
# Różne (Logi, Crash reporty)
# =========================
*.log
*.crash
